.footer{
    width: 100%;
    padding: 30px;
    margin-top: 20px;
    background-color: black;
    color: white;
}
.footer-wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8px;
}
.footer-wrapper p{
    font-size: 18px;
    font-weight: 400;
}
.footer-wrapper p span{
    color: red;
    margin-inline: 5px;
}
.footer-icons{
    display: flex;
    gap:8px;
}
.footer-icons a{
    text-decoration: none;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-icons a:nth-child(1){
    background-color: rgb(29, 69, 216);
}
.footer-icons a:nth-child(2){
    background-color: rgb(231, 117, 136);
}
.footer-wrapper a:nth-child(3){
    background-color: #007bff;;
}
.footer-icons a:hover{
    box-shadow: 0 0 4px 1px red;
    background-color: black;
    color: red;
    transition: all 0.5s;
}
@media screen and (max-width: 760px) {
    .footer{
        padding: 20px;
    }
    .footer-wrapper p{
        font-size: 15px;
    }
    .footer-icons a{
        width: 25px;
        height: 25px;
        font-size: 15px;
    }
}